<div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="!processing">
  <!--  <iframe class="frame mt-3 mb-3" src="https://drive.google.com/file/d/1VEI0qfdzF190WJAjZ8ZmWvfhdeADiQfn/preview"-->
  <!--          allowfullscreen="true" frameborder="0"></iframe>-->
  <!--  <iframe class="frame mt-3 mb-3" src="https://drive.google.com/file/d/1uuhTT2hFiH9JtM0sZXeM6QL6giHM_Dnb/preview"-->
  <!--          allowfullscreen="true" frameborder="0"></iframe>-->
  <!--  <iframe class="frame mt-3 mb-3" src="https://drive.google.com/file/d/1uUfKp-DHealUfY-iXqugQxdLsbYOPb89/preview"-->
  <!--          allowfullscreen="true" frameborder="0"></iframe>-->
  <!--  <iframe class="frame mt-3 mb-3" src="https://drive.google.com/file/d/1oEicKHta0xGNad5vc5lqO6ISupzkWSKa/preview"-->
  <!--          allowfullscreen="true" frameborder="0"></iframe>-->
  <!--  <iframe class="frame mt-3 mb-3" src="https://drive.google.com/file/d/1Uvfem4u9ynlB6qIz42KDnlhLJzDp&#45;&#45;q4/preview"-->
  <!--          allowfullscreen="true" frameborder="0"></iframe>-->
  <!--  <iframe class="frame mt-3 mb-3" src="https://drive.google.com/file/d/1wFc8EimmcehvjWC9zi-meDuMnsnJTGFx/preview"-->
  <!--          allowfullscreen="true" frameborder="0"></iframe>-->
  <div fxLayout="row" fxLayoutAlign="end center" class="frame" style="height: 10vh">
    <button mat-raised-button color="primary" (click)="next()">Go for Posttest</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh" *ngIf="processing">
  <mat-spinner></mat-spinner>
</div>
