<div fxLayout="column" fxLayoutAlign="space-around center" class="mt-5" *ngIf="!processing">
  <h1 class="mat-h1">Explanation</h1>
  <div class="frame">
    <iframe src="https://drive.google.com/file/d/1KHVK1rQFCstxEN8dbwasJECCvv6jgt0o/preview" width="100%" height="100%"
            frameborder="0" allowfullscreen="true"></iframe>
    <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px">&nbsp;</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" class="frame p-2 p-sm-0 mt-4" style="height: 10vh">
    <button mat-raised-button color="primary" (click)="next()">Next
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh" *ngIf="processing">
  <mat-spinner></mat-spinner>
</div>
