.postTestForm{
  padding: 0.5em;
  margin: 1em;
  width: 60%;
  border-radius: 1rem;
  box-shadow:  0 0 5px grey, 0 0 30px lightgray;
}
.left-pad{
  padding-left: 5rem;
}

@media screen and (max-width: 600px){
  .postTestForm{
    width: 95%;
  }

  .postTestForm ol{
    padding-inline-start: 30px;
  }
}
